<div class="shop-page">
  <app-product-showcase (categorySelect)="onCategorySelect($event)"></app-product-showcase>
  <app-banner-marquee></app-banner-marquee>
  <div class="container products-section">

    <app-search-filter
      [categories]="categories"
      [selectedCategoryIds]="selectedCategoryIds"
      (filterChange)="onSearchQueryChange($event)"
      (categoryChange)="onCategoryChange($event)"
      (searchChange)="onSearchChange($event)">
    </app-search-filter>

    <h1 *ngIf="brandNombre">{{brandNombre}}</h1>

    <app-badge-buttons
      *ngIf="brandId"
      [categories]="categories"
      [selectedIds]="selectedCategoryIds"
      [selectedCategory]="selectedCategory"
      (categoryChange)="onBadgeCategoryChange($event)">
    </app-badge-buttons>
    
    <app-product-grid [category]="selectedCategory" [searchTerm]="searchTerm" [brandId]="brandId"></app-product-grid>
  </div>
  
  <app-join-banner></app-join-banner>
</div>
