@import 'variables';
@import 'mixins';

.search-filter-wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  
  app-search-bar {
    flex: 1;
    max-width: 900px;
  }
  
  @include tablet {
    app-search-bar {
      max-width: 700px;
    }
  }
  
  @include mobile {
    flex-direction: column;
    
    app-search-bar {
      max-width: 100%;
    }
  }
}
